// colors
$black: black;
$white: white;

// fonts
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Rozha+One&display=swap);
$font_roboto: Roboto;
$font_rozha: Rozha One;

// media screen size
$breakpoint-phones: 800px;
